<div class="container hauteur flex-column square-box d-flex justify-content-center align-items-center">
  <%= link_to image_tag("barocentre_logo.png"), root_path %>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: false,
                  placeholder: "louis.beauve@gmail.com" %>

      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  label: false,
                  placeholder: "mot de passe..."
                  %>

      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: false,
                  placeholder: "confirmation du mot de passe..."
                  %>
    </div>
    <br>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button2" %>
      <%= link_to "back", root_path, class: "button2" %>
      <%= link_to "tu as deja un compte?", new_session_path(resource_name), class: "button2" %>
    </div>
  <% end %>
</div>
