
<div class="index wraper" data-controller="event-subscription"
      data-event-subscription-event-id-value="<%= @event.id%>"
      data-event-subscription-current-user-id-value="<%= current_user.id%>">
  <div class="justify-content-center">
    <div class="col-sm-3 col-lg-12 ps-5 pe-5 pt-3 pb-2">
      <div class="text-center mt-2">
        <div class="d-flex justify-content-center">
          <h1><%= @event.name.capitalize %></h1>
          <span class="btn-minishare ms-3" data-controller="share"
                data-action="click->share#share"
                data-share-title-value="<%= @event.name %>"
                data-share-url-value="<%= new_event_event_user_url(@event) %>">
                <i class="fa-solid fa-share-from-square"></i>
          </span>
        </div>
          <p class="pb-2">
            <i class="fa-solid fa-crown"></i> <strong><%= @event.user.username %></strong>
          </p>

        <div class="d-flex justify-content-center mb-3 btn-wrapper">
          <% if current_user == @event.user %>
            <%= link_to create_bars_path(@event), class: "btn btn-bar", data: { turbo_method: :post} do %>
              <div class="d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-dice"></i>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
       <p class="border-bottom border-secondary text-left">Participants</p>
      <div class="row d-flex justify-content-center pt-2 <%= "owner" if @event.user == current_user %>" data-event-subscription-target="users">
        <% @eventusers.each do |element| %>
          <%= render "event_users/event_user", element: element%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-lg-12 d-flex justify-content-center">
    <%= link_to map_event_users_path, class: "btn btn-ghost", style: "border: 1px solid black; border-radius: 20Px; position : fixed; bottom : 50px;" do %>
      CARTE <i class="fa-solid fa-map"></i>
    <% end %>
  </div>
</div>



  <%# <i class="fa-solid fa-share-from-square"><i> %>
