<div class="justify-content-center" data-controller="event-subscription"
      data-event-subscription-event-id-value="<%= @event.id%>">
    <div class="col-sm-3 col-lg-12 p-4">
      <div class="text-center border-bottom mt-2">
        <p class="border-bottom pb-2">L'événement <strong><%= @event.name %></strong> est organisé par : <strong><%= @event.user.username %></strong></p>
        <h1>LE CLASSEMENT </h1>  <span class="me-3" onclick="window.location.reload()">
        <i class="fa-solid fa-rotate-right"></i>
      </span>
      </div>
    <div class="ranking-wrapper" data-controller="toggle-elements">
      <%# Pour afficher le mot "cloturer le vote, qui va faire apparaitre le bouton choisir" %>
      <% if current_user == @event.user %>
        <div class="d-flex justify-content-center mt-3" style="width:100%">
          <%= link_to "Clôture le vote", event_choose_bar_path(@event), class:"choose-btn btn-ghost"%>
        </div>
      <% end %>
        <div class="row justify-content-center p-3">
          <% @bars.each do |bar| %>
          <%= render "bar_classment", bar: bar, event: @event%>
          <% end %>
        </div>
    </div>
  </div>
</div>
