<% if current_user == @event.user %>
  <div class="container hauteur flex-column square-box d-flex justify-content-center align-items-center">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, :width=>250, :height=>250, :radius=>"max", :crop=>"fill" %>
    <% else %>
      <%= image_tag "https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg", class: "rounded-circle", style: " width: 250px"%>
    <% end %>
    <br>
    <br>
    <h1 class="align-items-center"> "<%= @event.name %>" à démarré </h1>
    <br>
    <br>
    <p> Partage ton lien pour inviter tes copains :</p>
    <div class ="m-1">
        <h5><%= root_url %><%= invite_path(@event)%></h5>
    </div>
    <br><br>
    <% unless current_user && current_user.participates_to_event?(@event) %>
      <div class ="m-1">
        <%= link_to "Continuer", new_event_event_user_path(@event), class: "button2" %>
        <%= link_to "back", root_path, class: "button2" %>
      </div>
    <% else %>
      <div class ="m-1">
        <%= link_to "Continuer", event_event_users_path(@event), class: "button2" %>
        <%= link_to "back", root_path, class: "button2" %>
      </div>
    <% end %>
    </div>
  </div>



<% else %>
  <div class="container hauteur flex-column square-box d-flex justify-content-center align-items-center">
    <h1>ACCESS DENY</h1>
  </div>
<% end %>
