<% if current_user == @event.user %>
  <div class="container hauteur flex-column square-box d-flex justify-content-center align-items-center mt-5">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, :width=>250, :height=>250, :radius=>"max", :crop=>"fill", class: "rounded-circle" %>
    <% else %>
      <%= image_tag "https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg", class: "rounded-circle", style: " width: 250px"%>
    <% end %>
    <br>
    <br>
    <h1 class="align-items-center"> "<%= @event.name %>" à démarré </h1>
    <br>
    <br>
    <div class ="m-1">
      <span class="share-btn btn-ghost" data-controller="share"
          data-action="click->share#share"
          data-share-title-value="<%= @event.name %>"
          data-share-url-value="<%= new_event_event_user_url(@event) %>">
        Inviter les copains
      </span>
    </div>
    <br><br>
    <% unless current_user && current_user.participates_to_event?(@event) %>
      <div class ="m-1">
        <%= link_to "Continuer", new_event_event_user_path(@event), class: "btn btn-ghost" %>
        <%= link_to "back", root_path, class: "btn btn-ghost" %>
      </div>
    <% else %>
      <div class ="m-1">
        <%= link_to "Continuer", event_event_users_path(@event), class: "btn btn-ghost" %>
        <%= link_to "back", root_path, class: "btn btn-ghost" %>
      </div>
    <% end %>
  </div>



<% else %>
  <div class="container hauteur flex-column square-box d-flex justify-content-center align-items-center">
    <h1>ACCESS DENY</h1>
  </div>
<% end %>
