<div class="container pt-2">
  <h1> Dashboard </h1>

  <%# Div du profil user %>
  <div class="bg-light p-2">
  <%# <% if current_user.photo.attached?%>
    <%# <%= cl_image_tag current_user.photo.key, class: "avatar", crop: :fit %>
  <%# <% else %>
    <%= image_tag "barocentre_biere.png", class: "avatar", crop: :fit %>
  <%# <% end %>
  <span class="ms-2"><%= current_user.username%></span>
  </div>

  <%# Div de mes événements à venir en tant qu'admin et participant %>
  <div class="mt-4 border-bottom">
    <h2> Mes événements à venir</h2>
  </div>
  <% @my_future_events.each do |event|%>
    <%= link_to event_event_users_path(event), class:"text-decoration-none text-dark" do %>
    <div class="d-flex border p-2 justify-content-between align-items-center">
      <div>
        <div>
          <span class="fw-bold">
            <%= event.name %>
          </span> |
          <% if event.user == current_user%>
            <i class="fa-solid fa-crown"></i>
          <%else%>
            <%= event.user.username %>
          <%end%>
        </div>
        <div class="fst-italic"><%= event.date.strftime("%A %-d %B %Y à %k:%M") %></div>
        <div><%= event.status %></div>
      </div>
      <div><i class="fa-solid fa-arrow-right"></i></div>
    </div>
    <% end %>
  <% end %>

  <%# Div de mes événements passés en tant que participant et admin %>
    <div class="mt-4 border-bottom">
    <h2> Mes événements passés </h2>
  </div>
  <% @my_past_events.each do |event|%>
    <%= link_to event_event_users_path(event), class:"text-decoration-none text-dark" do %>
    <div class="d-flex border p-2 justify-content-between align-items-center">
      <div>
       <div>
          <span class="fw-bold">
            <%= event.name %>
          </span> |
          <% if event.user == current_user%>
            <i class="fa-solid fa-crown"></i>
          <%else%>
            <%= event.user.username %>
          <%end%>
        </div>
        <div class="fst-italic"><%= event.date.strftime("%A %-d %B %Y à %k:%M") %></div>
        <div><%= event.status %></div>
      </div>
      <div><i class="fa-solid fa-arrow-right"></i></div>
    </div>
    <% end %>
  <% end %>

</div>
